/* #root {
  background-color: #111111ff;
} */
.netflix-container .netflix-items {
  align-items: center;
}
.netflix-items {
  flex: 1 1 0px;
  transition: transform 500ms;
  display: block;
}
.netflix-container .netflix-items:focus,
.netflix-container .netflix-items:hover{
  transform: scale(1.5);
  z-index: 1;
}

/* .netflix-items ~ .netflix-items{
  transform: translateX(25%);
} */
body {
  overflow: hidden;
}